<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        textarea {
            width: 300px;
            height: 20px;
            resize: none;
        }
    </style>
</head>
<body>
    <h1>MathSnapLaTeX设置</h1>
    <form action="/submit_API_KEY" method="post">
        <div>
            <label for="API_KEY">API_KEY：</label>
            <textarea id="API_KEY" name="API_KEY" required></textarea><br><br>
        </div>
        <div>
            <button type="submit">提交</button>
        </div>

</form>

</body>
</html>