<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>MathSnapLaTeX程序正在运行</title>
    <meta http-equiv="refresh" content="3">
    <style>
        .display {
            width: 600px;
            height: 300px;
            overflow-y: auto;
            border: 2px solid #000;
            padding: 10px;
            resize: both;
        }

        .cls {
            width: 35%;   /*父容器宽度*/
            margin:0 auto;
        }

    </style>
</head>
<body>
    <h1 class="cls" >MathSnapLaTeX程序 {{state}}</h1>
    <br>
    <div class = "display cls" >
        {% for i in result %}
            {{i}}
            <br>
            <br>
        {% endfor %}

    </div>
</body>
</html>